body{
    text-align:center;
    background-color: #000;
    color:#fff;
}
h1{
    font-size:45px;
}
.scores{
    font-size:20px;
    display:grid;
    grid-template-columns: 455px 550px 455px;
}
.btn-container {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    gap:20px;
}
.btn{
    height:200px;
    width:200px;
    outline:none;
    cursor:pointer;
}

.green{
    background-color: rgb(17,155,17);
    border-top-left-radius: 200px;
}

.red {
    background-color: rgb(255, 23, 23);
    border-top-right-radius: 200px;
}

.yellow {
    background-color: rgb(255, 255, 31);
    border-bottom-left-radius: 200px;
}

.blue {
    background-color: rgb(59, 121, 255);
    border-bottom-right-radius: 200px;
}


.green-blink{
    background-color:rgb(221,255,221);
}

.yellow-blink{
    background-color: rgb(255,255,206);
}

.red-blink{
    background-color: rgb(248,205,205);
}

.blue-blink{
    background-color: rgb(211,225,255);
}